@use 'src/styles/variables';
@use 'src/styles/mixins';

.wrapper {
    display: flex;
    justify-content: center;
    padding: 72px 0;
    border-radius: 4px;
    background-color: variables.$darkLightColor;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-grow: 1;
    text-align: center;
}

.projectsContainer {
    display: flex;
    flex-wrap: wrap;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    gap: 24px;
    padding: 24px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imageContainer img {
    border-radius: 4px;
    width: inherit;
    filter: grayscale(1);
}

.button {
    position: absolute;
    display: none;
}

.projectContainer:hover .button {
    display: initial;
}

@media screen and (min-width: 1024px) {
    .container {
        flex-grow: 0;
        width: 1024px;
    }
}