@use 'src/styles/variables';
@use 'src/styles/mixins';

.wrapper {
  @include mixins.wrapper;
  background-color: variables.$darkLightColor;

  .container {
    @include mixins.container;

    .projectsContainer {
      @include mixins.flex(row);

      .projectContainer {
        @include mixins.flex(column);
        flex: 1 1 50%;
        gap: 16px;
        padding: 16px;
        @media screen and (min-width: variables.$containerWidth) {
          padding: 24px;
        }

        .imageContainer {
          @include mixins.flex();
          width: 100%;

          img {
            border-radius: 4px;
            width: inherit;
            filter: grayscale(1);
          }

          .button {
            position: absolute;
            display: none;
          }

          &:hover .button {
            display: initial;
          }
        }

      }
    }
  }
}





