@use 'src/styles/variables';

.wrapper {
  display: flex;
  justify-content: center;
  padding: 72px 0;
  margin: 0;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 0 16px;

    .iconsContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 24px;
      max-width: 448px;
      width: 100%;

      .iconContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        width: 48px;
        height: 48px;
        border-radius: 4px;
        background-color: variables.$primaryColor;

        svg {
          color: variables.$darkColor;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
