@use 'src/styles/variables';
@use 'src/styles/mixins';

.wrapper {
  @include mixins.wrapper;
  background-color: variables.$darkLightColor;

  .container {
    @include mixins.container;

    .iconsContainer {
      @include mixins.flex();
      gap: 16px;
      padding: 16px;
      @media screen and (min-width: variables.$containerWidth) {
        gap: 24px;
        padding: 24px;
      }

      .iconContainer {
        @include mixins.flex();
        flex-grow: 1;
        width: 48px;
        height: 48px;
        border-radius: 4px;
        background-color: variables.$primaryColor;
        &:hover {
          opacity: 0.8;
        }

        svg {
          color: variables.$darkColor;
        }
      }
    }
  }
}