.wrapper {
    display: flex;
    justify-content: center;
    padding: 72px 0;
    border-radius: 4px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-grow: 1;
    text-align: center;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
}

.skillContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px;
    flex: 1 1 50%;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;
    border-radius: 4px;
}

@media screen and (min-width: 1024px) {
    .container {
        flex-grow: 0;
        width: 1024px;
    }

    .skillContainer {
        flex: 1 1 33.33%;
    }
}