
.wrapper {
    display: flex;
    align-items: center;
    min-height: 576px;
    margin: 0 16px;
    border-radius: 4px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
    flex-grow: 1;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
}

.skillContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    flex: 1 1 50%;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-light);
    width: 48px;
    height: 48px;
    border-radius: 4px;
}

@media screen and (min-width: 1024px) {
    .wrapper {
        justify-content: center;
    }

    .container {
        flex-grow: 0;
        width: 1024px;
    }

    .skillContainer {
        flex: 1 1 33.33%;
    }
}