@use 'src/styles/variables';
@use 'src/styles/mixins';

.wrapper {
  @include mixins.wrapper;

  .container {
    @include mixins.container;

    .skillsContainer {
      @include mixins.flex(row);

      .skillContainer {
        @include mixins.flex(column);
        flex: 1 1 50%;
        gap: 16px;
        padding: 16px;
        @media screen and (min-width: variables.$containerWidth) {
          padding: 24px;
        }

        .iconContainer {
          @include mixins.flex();
          width: 48px;
          height: 48px;

          svg {
            color: variables.$primaryColor;
          }
        }
      }
    }
  }
}
