/* Variables - Color*/
//$primaryColor: #5b81dd;
$primaryColor: #f0a253;
$secondaryColor: #f0b153;

$lightColor: whitesmoke;
$darkColor: #333;
$darkLightColor: #404040;

/* Variables - Other*/
$fontFamily: 'Fira Sans', sans-serif;
$fontSizeDefault: 16px;
$border: 2px solid $lightColor;
$borderRadius: 4px;
$containerWidth: 1024px;