@use 'src/styles/variables';
@use 'src/styles/mixins';

.wrapper {
  @include mixins.flex(row, center, center);
  background-color: variables.$primaryColor;
  border-radius: variables.$borderRadius;
  padding: 72px 0;

  .container {
    @include mixins.flex(column, center, center);
    gap: 40px;
    padding: 0 16px;

    @media screen and (min-width: variables.$containerWidth) {
      @include mixins.flex(row, space-between, center);
      width: variables.$containerWidth;
    }

    .textContainer {
      @include mixins.flex(column, center, flex-start);
      gap: 24px;
      color: variables.$darkColor;

      h1 {
        color: variables.$darkColor;
      }

      .typingText {
        font-weight: bold;
        font-size: 24px;
      }

      button {
        background: none;
        border-radius: 0;
        padding: 12px 8px;
        text-transform: none;
        border-bottom: 2px solid variables.$darkColor;

        &:hover {
          padding: 12px 24px;
        }
      }
    }

    .imageContainer {
      width: 100%;

      img {
        width: inherit;
        height: inherit;
      }
    }
  }
}






