@use 'src/styles/variables';
@use 'src/styles/mixins';

.wrapper {
  @include mixins.wrapper;
  background-color: variables.$primaryColor;

  .container {
    @include mixins.container;

    @media screen and (min-width: variables.$containerWidth) {
      @include mixins.flex(row, center, center, nowrap);
    }

    .textContainer {
      @include mixins.flex(column, center, flex-start);
      text-align: left;
      gap: 16px;
      padding: 16px;

      h1 {
        color: variables.$darkColor;
      }

      .typingText {
        color: variables.$darkColor;
        font-weight: bold;
        font-size: 18px;
        @media screen and (min-width: variables.$containerWidth) {
          font-size: 20px;
        }
      }
    }

    .imageContainer {
      padding: 16px;

      img {
        width: 100%;
      }
    }
  }
}






