@use 'src/styles/variables';
@use 'src/styles/mixins';

.wrapper {
  @include mixins.flex(row, center, center);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  background-color: variables.$darkColor;
  z-index: 100;

  .container {
    @include mixins.flex(row, space-between, center);
    width: 100%;
    padding: 0 16px;

    @media screen and (min-width: variables.$containerWidth) {
      width: variables.$containerWidth;
    }

    h4 {
      color: variables.$primaryColor;
      cursor: pointer;
    }
  }
}

.mobileMenuContainer {
  @media screen and (min-width: 1024px) {
    display: none;
  }

  .mobileLinksContainer {
    transition: opacity 450ms ease;
    visibility: hidden;
    opacity: 0;

    user-select: none;
    @include mixins.flex(column, center, center);
    background-color: variables.$darkColor;
    gap: 16px;
    position: fixed;
    top: 72px;
    right: 0;
    left: 0;
    padding: 16px;
    height: 100%;

    a {
      font-size: 24px;
      cursor: pointer;
    }

    &.open {
      visibility: visible;
      opacity: 1;

    }
  }
}

.linksContainer {
  display: none;

  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  a {
    cursor: pointer;
  }
}
