@use 'src/styles/variables';
@use 'src/styles/mixins';

.wrapper {
  @include mixins.wrapper;

  .container {
    @include mixins.container;

    .formContainer {
      @include mixins.flex(column);
      gap: 24px;
      padding: 16px;
      @media screen and (min-width: variables.$containerWidth) {
        padding: 24px;
      }
    }
  }
}